@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: rgb(196, 196, 216);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.cabecalho-logo {
    height: 65px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 20px;
    color: rgb(131, 7, 231);
    
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #934dcc;
}

.conteudo-titulo {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(130, 7, 231, 0.685);
}

.conteudo-select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}